# =============================
# R / RStudio 临时文件与系统文件
# =============================
.Rhistory
.RData
.Rproj.user/
.DS_Store

# =============================
# 目录结构控制
# =============================
00.libs/*.Rmd
00.libs/*.R
00.libs/*.sh
00.libs.bak/
01.rawdata/
02.datasave/
03.figure/
04.table/
05.mainfigure/
!03.figureUP/
# 允许保留的整理版脚本
!00.libs/*UP.Rmd
!00.libs/*UP.R
!01.rawdata/UniPathogenDB/UniPathogenDB.Rdata
!01.rawdata/BP2_BK/99.Setting/
gitadd.sh